@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

@media only screen and (max-width: 768px) {
    .header,
    div.introduction,
    .art-pieces,
    div.subscribe-box{
        flex-direction: column;
        gap: 40px;
    }

    div.intro-text{
        width: initial;
        gap: 40px;
    }

    .link{
        font-size: 20px;
        margin-left: 48px;
    }

    div.header{
        padding-left: initial;
        padding-right: initial;
    }

    ul{
        padding: 0;
    }

    .quote{
        padding: 30px;
    }

  }

.introduction, .footer{
    background-color: #1f2937;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;

}


.header{
    background-color: #18202a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    flex: 1;

}


.artworks{
    background-color: white;
    padding-bottom: 30px;
}

.quotes{
    background-color: #e5e7eb;
}

.logo{
    font-size: 70px;
    color: #f9faf8;
    font-weight: 900;
    font-family: 'Comforter', cursive;
}

.bold-text{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    font-family: 'Bebas Neue', cursive;
}

.detail-text{
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'Poppins', sans-serif;
}

ul{
    color: white;
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-family: 'Bebas Neue', cursive;
}

li{
    font-size: 48px;
    margin-left: 60px;
    
}

a{
    text-decoration: none;
    color: white;
}


.section-header{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.picture-file{
    width: 200px;
    height: auto;
}

.page-content{
    display: flex;
    flex-direction: column;
    
}

.profile-pic{
    width:300px;
    height: auto;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 50%;  
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 48px;

}

.intro-text{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 500px;
}

.black-btn{
    padding: 10px;
    border-color: white;
    border-radius: 8px;
    border-width: 4px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    background-color: #1f2937;
}

.section-header{
    font-size: 48px;
    font-weight: bold;
    color: #1f2937;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}


.art-pieces{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.artwork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}



.description{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.quotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:100px;
    padding-bottom: 100px;
}

.quote{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 30px;
}

.author{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.subscribe-section{
    display: flex;
    justify-content: center;
}

.subscribe-box{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:40px 80px 40px 80px;
    gap:90px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.subscribe-bold{
    color:#e5e7eb;
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
}

.subscribe-plain{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #e5e7eb;
}

.subscribe-btn{
    padding: 10px;
    border-color: white;
    border-radius: 8px;
    border-width: 4px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    background-color: #3882f6;
}

.footer{
    color: #e5e7eb;
    text-align: center;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
